header {
    border-radius: 00px;
    background-color: rgb(0, 0, 0);
    padding: 05px 00px 90px 0px;
    margin: 00px;
    color: rgb(255, 255, 255);
}

header img {
    float: left;
    margin: 00px 00px 00px 200px;
}

nav{float: right; width: 800px; margin: 00px 250px 00px 00px;	font-size: 14px;	font-style: normal;	font-weight: bold; display: table-cell;}
            
            nav ul{list-style: none;}
            
            nav ul li{ width: 120px; background: #000000; float: right; height: 75px; line-height: 70px; text-align: center; margin: 0x; position: relative;}
            
            nav ul li:hover{ background: #474747;}
            
            nav ul li a{color: #fff; text-decoration: none; font-family: sans-serif; display: block;}
            
            nav ul li ul li{ border-top: 1px solid #fff;}
            
            nav ul li ul{display: none;}
            
            nav ul li:hover ul{ display: block;}
            
            nav ul li ul .itam-2{position: absolute; left: 122px; top: 0; display: none;}
            
            nav ul li ul li:last-child:hover .itam-2{display: block;}
            
            section{width: 800px; margin: 00px; background: #e1e1e1;}
            
            nav ul li.active {
                background-color: rgb(245, 35, 35);
                color: white;
            }

div#wrapper {
    margin: 00px;
}

h3 {
    font-size: 25px;
}

.cim {
    text-align: center;
    font-size: 36px;
}


div#content {
    display: table-cell;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
}

footer {
    
    margin: 10px;
    padding: 5px 20px;
    background-color: #f73c3c;
    color:#ffffff;
}

.piros {
    color:#ff0000;
    text-align: center;
    font-size: 25px;
}
.jobb {
    text-align: right;
}

.kozep {
    text-align: center;
}

.p_kozep {
    font-size: 20px;
    text-align: center;
    line-height: 35px;
}

.p_kozep_suru {
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}

.p_jobb {
    font-size: 20px;
    text-align: right;
    line-height: 35px;
    margin: 00px 10px;
}

.p_bal {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: left;
    line-height: 35px;
    margin: 00px 10px;
}

.p_bal_suru {
    font-size: 20px;
    text-align: left;
    line-height: 20px;
    margin: 00px 10px;
}

.kepkozep {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.cimlap_tomb {
    margin: 20px 15%;
    border: 1px solid #000000;
}

.kepfeltoltes {
    margin: 20px 15%;
    border: 1px solid #000000;
}

#felsorolas {
    font-size: 20px;
    padding: 00px 00px 00px 350px;
}

#szabalyok_kep {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 50%;
  }

#galeria {
    position: relative;
    margin: 10%;

}

#galeri {
    width: 250px;
}
#feltoltes {
    text-align: center;
}
#hireink {
    float:right;
    width: 250px;
}
.page_header {
    text-align: center;
}

#hireinkszoveg {
    margin: 10px 20%;
}