
/*******************************************************************************************/
/*
/*        Web: http://www.asdesigning.com
/*        Web: http://www.astemplates.com
/*        License: GNU General Public License version 3 or later
/*
/*******************************************************************************************/


.sf-menu, .sf-menu *
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation
{
	position: relative;
}

.navigation .sf-menu
{
	position: relative;
	overflow: visible;
	clear: both;
	height: auto !important;
}

.navigation .sf-menu:after
{
	clear: both;
	display: block;
	content: '';
}

.navigation .sf-menu.in
{
	height: auto !important;
}

.navigation .btn-sf-menu
{
	display: none;
	float: left;
	margin-bottom: 15px;
}

.scroll-to-fixed-fixed
{
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
}

.navigation .select-menu
{
	width: 100%;
	display: none;
	margin: 0;
}

.sf-menu li
{
	position: relative;
}

.sf-menu ul
{
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}

.sf-menu > li,
.sf-menu ul > li
{
	float: left;
	list-style: none;
}

.sf-menu li:hover > ul, .sf-menu li.sfHover > ul
{
	display: block;
}

.sf-menu a
{
	display: block;
	position: relative;
}

.sf-menu ul ul
{
	top: 0;
	left: 100%;
}

.sf-menu.sf-vertical
{
}

.sf-menu.sf-vertical > li,
.sf-menu.sf-vertical ul > li
{
	float: none;
	list-style: none;
	width: 60%;	
}

.sf-menu.sf-vertical ul
{
	top: -1px;
	left: 101%;
	width: 100%;	
}

ul.sf-menu.sf-vertical li
{
    margin: 0;
    overflow: visible;
    padding: 0 0 0 52px;
    z-index: 0;
	line-height: 35px;
	border-bottom: 1px dotted #6c6b6b;
    color: #6c6b6b;
}

ul.sf-menu.sf-vertical li.current, 
ul.sf-menu.sf-vertical li.active, 
ul.sf-menu.sf-vertical li:hover 
{
	background-position: left bottom;	
    border-bottom: 1px dotted #6aa2ca;
    color: #6aa2ca;
	list-style-image: none;
}

ul.sf-menu.sf-vertical li.current a, 
ul.sf-menu.sf-vertical li.active a, 
ul.sf-menu.sf-vertical li a:hover 
{
	color: #6aa2ca;	
}

ul.sf-menu.sf-vertical li a
{
	color: #6c6b6b;
    text-shadow: 1px 1px #ffffff;
    text-transform: uppercase;
}

ul.sf-menu.sf-vertical ul li
{
	background-color: #e2e2e2;
	border-bottom: 1px dotted transparent;
	padding: 0 0 0 25px;
}

ul.sf-menu.sf-vertical ul li.firstItem
{
	border-top: 1px dotted #6aa2ca;
}

ul.sf-menu.sf-vertical ul li.lastItem
{
	border-bottom: 1px dotted #6aa2ca !important;
}

ul.sf-menu.sf-vertical ul li.current, 
ul.sf-menu.sf-vertical ul li.active, 
ul.sf-menu.sf-vertical ul li:hover 
{
	border-bottom: 1px dotted transparent;
}

ul.sf-menu.sf-vertical li.current li:hover a, 
ul.sf-menu.sf-vertical li.active li:hover a,
ul.sf-menu.sf-vertical li li.current a, 
ul.sf-menu.sf-vertical li li.active a
{
	color: #6c6b6b;
}

@media (max-width: 767px) 
{
	.navigation .btn-navbar
	{
		display: block;
	}
	
	.navigation .select-menu
	{
		display: block;
	}
	
	.navigation ul.sf-menu
	{
		overflow: hidden;
		height: 0 !important;
		float: none;
	}
	
	.navigation ul.sf-menu>li
	{
		float: none;
		width: 100%;
		margin: 0;
	}
	
	.navigation ul.sf-menu>li ul
	{
		padding: 0 0 0 15px;
		width: auto;
		position: static;
	}
	
	ul.sf-menu.sf-vertical ul li
	{
		background: transparent;
		padding: 0 0 0 25px;
		border: none;
	}
	
	ul.sf-menu.sf-vertical ul li.current, 
	ul.sf-menu.sf-vertical ul li.active, 
	ul.sf-menu.sf-vertical ul li:hover, 
	ul.sf-menu.sf-vertical ul li.firstItem,
	ul.sf-menu.sf-vertical ul li.lastItem
	{
		border: none !important;
	}	
}
